<template>
  <div id="app">
    <infometeo texto="Escoge una ciudad" :ciutats="ciutatseuropa"></infometeo>
    <!--Se utiliza para duplicar-->
    <!--<router-view/>-->
  </div></template>

<script>
  import infometeo from './components/infometeo'

  export default {
    name: 'App',
    components: {infometeo},
    data() {
      return {

        ciutatseuropa: ["Barcelona",
          "Lleida",
          "Zaragoza",
          "Sevilla",
          "Madrid",
          "Paris",
          "Melbourne",
          "Moscow",
          "Pekin",
          "Marrakech"],

        ciutatsamerica: ["Tokyo",
          "Chicago",
          "New York"]

      }
    }


  }

</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
